<!-- -------------------------------- Blood Sure Section------------------------------------------ -->

<script type="text/javascript">
	$('select').material_select();
</script>

<div class="blood_sure_section">
  		<div class="myContainer">
  			<div class="row">
  				<div class="col s12 m8">
  					<div class=" col s12 card-panel white">
		  				<h5 class="info_heading">Booking Details</h5>	
		  				<div class="divider"></div>

		  				<form class="col s12" novalidate>
							<div class="row">
							    <div class="input-field col s6">
							        <input id="first_name" type="text" class="validate test" ng-model="data.patient_name">
							        <label for="first_name" style="color: #c62828" required>Patient Name</label>
							    </div>
							    
							    <div class="input-field col s6">
									<select  ng-model="data.blood_grp" required>
									<!--<option ng-repeat="value in select.choices">{{value}}</option>-->
									
										<option value="" disabled selected > Required Blood Group</option>
										<option value="Whole HUman Blood IP">Whole HUman Blood IP</option>
										<option value="Concentrated Human Red Blood Corpuscles IP (Packed Red Cells)">Concentrated Human Red Blood Corpuscles IP (Packed Red Cells)</option>
										<option value="Platelet Concentrate BP">Platelet Concentrate BP</option>
										<option value="Fresh Frozen Plasma">Fresh Frozen Plasma</option>
										<option value="Plateletphersis">Plateletphersis</option>
										<option value="Leucoreduced (Packed Red Cells)">Leucoreduced (Packed Red Cells)</option>
										<option value="Cryoprecipitate">Cryoprecipitate</option>
										<option value="Blood Group & Rh Typing (by automated system)">Blood Group & Rh Typing (by automated system)</option>
										<option value="Therapeutic Phlebotomy">Therapeutic Phlebotomy</option>
									</select>
								</div>
							</div>

							<div class="row">
							    <div class="input-field col s6">
							        <input id="first_name" type="text" class="validate test" ng-model="data.doctor_name">
							        <label for="first_name" style="color: #c62828" required>Doctor Name</label>
							    </div>
							        	
							    <div class="input-field col s6">
									<select ng-model="data.hospital" required>
										<option value="" disabled selected>Hospital</option>
										<option value="a">a</option>
										<option value=b>b</option>
										<option value="c">c</option>
										<option value="d">d</option>
										<option value="e">e</option>
										<option value="f">f</option>
										<option value="g">g</option>
										<option value="h">h</option>
									</select>
								</div>
							</div>


							<div class="row">
								<div class="input-field col s6">
									<select ng-model="data.unit_of_blood" required>
										<option value="" disabled selected>Units Of Blood</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
								</div> 

								<div class="input-field col s6">
									<select ng-model="data.city" required>
										<option value="" disabled selected>City</option>
										<option value="a">a</option>
										<option value="b">b</option>
										<option value="c">c</option>
										<option value="d">d</option>
										<option value="e">e</option>
										<option value="f">f</option>
										<option value="g">g</option>
										<option value="h">h</option>
									</select>
								</div> 
							</div>
							      	
							<div class="payment">
							    <h5 class="info_heading">Payment Details</h5>	
				  				<div class="divider"></div>

				  				<form class="col s12">
									<div class="row">
									    <div class="total">
									      	<h8 >Total Cost</h8>
									    </div>
									      	
										<div class="input-field col s12">
										    <input disabled  id="disabled" type="text" class="validate">
										    <label for="disabled"></label>
										</div>
									</div>
								</form>
							</div>

							<div class="payment_button center-align">
								<button ng-click="mysubmit()" class="btn waves-effect waves-light pyt_button" style="background-color:#c62828" type="submit" name="action">PAYMENT</button>
							</div>	 
		  				</div>
  					</div>

  			<div class="col s12 m4">
  				<div class="card medium">
				    <div class="card-image">
				        <img src="img/doc.png">
				    </div>
				            
				    <div class="card-content">
				        <p>Upload photo of Doctor's Prescription</p>
				    </div>    
				            
				    <div class="card-action center">
				        <button class="btn waves-effect waves-light upload_photo" style="background-color:#c62828" type="submit" name="action">UPLOAD PHOTO</button>
				    </div>
				</div>					
			</div>				     
  		</div>
  		</form> 		
  	</div>
 </div>

<!-- -------------------------------- Blood Sure Section end here------------------------------------------ -->
